
body{
    margin: 0%;
}
.top-bar ul, .top-bar a{
    display: flex;
    list-style: none;
    gap: 8px;
    color: azure;
    text-decoration: none;
}
.top-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 50px ;
    background-color: rgba(97, 123, 194, 0.76);   
}
.blockI{
    background-color: rgba(97, 123, 194, 0.76);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 420px;
    color: azure;
    padding: 70px 100px;
}
.blockI img {
    width: 350px;
    border-radius: 9px;
}
.blockI h2{
    margin: 0%;
    font-size: 32px;
    color: rgb(60, 60, 65);
}
.sec2 p {
    background-color: beige;
    color: black;
    padding: 90px 150px;
}


/* the second sections starts here*/

.blockII{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 60px;
} 
.smaller-divs{
    display: flex;
    gap: 50px;
    text-align: center;    
    flex-wrap: wrap;
}
.smaller-divs img {
   width: 250px;    
   border-radius: 10px;
}
.smaller-divs p{
    width: 250px;
}



/* the third section starts here */


.blockIII{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;    
    background-color: rgb(233, 224, 224);
    padding: 25px 50px ;
    margin-bottom: 50px;
}
.blockIV{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:25px 150px;
    background-color: aqua;
    border-radius: 8px;
    padding: 60px 60px;
}
.blockIV h3, .blockIV p{
    margin: 0%;
}
.blockIV button{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border-color: rgb(0, 183, 255);
    background-color: rgb(187, 250, 229);
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
